<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/styles/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>TosDos</title>
    </head>
    <body id="body">
        <div>
            <div class="flex-container nav">
                <div class="logo">
                    <p class="w700s17">TosDos</p>
                </div>
                <div class="flex-container">
                    <a href="#" class="login w700s17">Log in</a>
                    <button class="signup w700s17 ds">Sign up</button>
                </div>
            </div>
            <div class="flex-container listdiv">
                <button class="listbtn w700s17 ds" onclick="window.location.href='/home'">Home List</button>
                <button class="listbtn w700s17 ds" onclick="window.location.href='/work'">Work List</button>
            </div>
        </div>
        <main>