html > body{
    background-color: #267A9B;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.flex-container{
    display: flex;
}
.nav{
    background-color: #FEAE49;
    height: 56px;
    justify-content: space-between;
}
.w700s17{
    font-weight: 700;
    font-size: 17px;
}
p{
    color: #FFFFFF;
    padding-left: 16px;
    padding-top: 15px;
}
.ds{
    text-shadow: 2px 2px 1px #267A9B80;
}
.signup{
    height: 30px;
    width: 90px;
    padding: 2px 12px;
    border: none;
    background-color: #57BEE6;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 12px 16px;
}
 .signup:hover{
    background-color: rgb(27 106 137);
    color: white;
} 
.login{
    padding: 15px 4px;
    color: #57BEE6;
    text-decoration: none;
    text-shadow: 2px 2px 1px #B87E3565;
}
.listdiv{
    justify-content: center;
    gap: 140px;
    margin: -28px 0;
}
.listbtn{
    color: #FEAE49;
    background-color: #57BEE6;
    border: none;
    padding: 15px 44px;
    border-radius: 30px;
}
.dfag{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 50px;
}
.container{
    width: 1130px;
    background-color: #57BEE6;
    margin-top: 93px;
    margin-bottom: 65px;
    border-radius: 70px;
    padding: 80px;
}
.whbr{
    width: 930px;
    height: 140px;
    border-radius: 100px;
    border: none;
    background-color: #3D424A;
    color: white;
}
.w500s40p{
    font-size: 40px;
    font-weight: 500;
    padding: 40px 0 40px 43px;
}
::placeholder{
    color: #92929E;
}
.plus{
    justify-content: center;
    padding-top: 50px;
}
.plus > input{
    font-size: 93px;
    width: 140px;
    color: #267A9B;
    text-shadow: 2px 2px 1px #57BEE680;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 1px #267A9B80;
    background-color: #FEAE49;
}
.task{
    display: flex;
    height: fit-content;
}
.m0{
    margin: 0;
}
.lt{
    text-decoration: line-through;
}
.task > input{
    height: 54px;
    width: 54px;
    margin: auto 43px;
}
div > hr{
    border: 1px solid #FFFFFF;
    transform: rotate(90);
    height: auto;
    margin: 0;
}
.cal{
    height: fit-content;
    padding-right: 52px;
    align-self: self-end;
    margin-top: -89px;
}
.cal > p{
    color: #57BEE6;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.checked{
    text-decoration: line-through;
}
.footer > p{
    font-weight: 600;
    background-color: #1E1E2A;
    height: 86px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 0px;
}